{% extends 'app/base.html.twig' %}

{% block body %}
	<div class="container">
		{% if items|length %}
			<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 10px;">
				<li class="nav-item"><a class="nav-link active" href="#">Список статей</a></li>
			</ul>
			<div class="table-responsive table-end">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>#</th>
						<th>Название</th>
						<th>Описание</th>
						<th>Количество просмотров</th>
						<th>Дата создания</th>
					</tr>
					</thead>
					<tbody>
					{% for item in items %}
						<tr>
							<td><a href="{{ path('article_show', {'code': item.code }) }}">{{ item.id }}</a></td>
							<td>{{ item.title }}</td>
							<td>
								{{ item.getDescription(300)|raw }}
								{% if item.getDescription(3011)|length > 300 %}...{% endif %}
							</td>
							<td>{{ item.humanReadableViewsCount }}</td>
							<td nowrap="nowrap">
								<a href="{{ path('article_show',  { 'code': item.code }) }}"
								   class="btn btn-success fa fa-eye"
								   title="Просмотр">{{ item.createdAt.format('d-m-Y H:i') }}</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<h3>Чтобы загрузить данные выполните из консоли: make doctrine-fixtures-load</h3>
		{% endif %}
	</div>
{% endblock %}
