{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_frontpage') }}">К списку</a></li>
                </ol>
            </nav>
            <div class="card_body">
                    <h3 class="card_title">{{ item.title }}</h3>
                    <p class="card_text">{{ item.getDescription}}</p>
                <div class="card_footer d-flex justify-content-between">
                    <div class="card_info d-flex align-items-center like">
                        <p class="card_info-date">Количество просмотров: {{ item.humanReadableViewsCount }}</p>
                        <p class="card_info-date">Дата создания: {{ item.createdAt.format('d-m-Y H:i') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
